body {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif !important;
}

/* Search button */
#searchInput {
    border-radius: 10px 0 0 10px;
    padding: .7rem;
    width: 270px;
    height: 48px;

}

#legalize {
    margin: 10px;
}

#account {
    padding-left: 10px;
    padding-right: 10px;
}

#searchButton {
    border-radius: 0 10px 10px 0;
    height: 3rem;
}

/* Footer css */
#footerpage {
    padding:10px ! important;
    margin: 20px;
}

/* inbox */
#inbox {
    color: aliceblue;
}

#inbox a {
    color: rgb(11, 115, 206);
}

#inbox th {
    color: rgb(80, 69, 56);
}

ul.ui-autocomplete {
    z-index: 1100;
}

@media (max-width: 425px) {
    .table {
        font-size: 75%;
    }

    #searchInput {
        width: 165px;
    }

    #searchButton {
        width: 135px;
    }

    .table th {
        padding: 0px;
    }
}

/* Message detail */
.messageDetail {
    margin-top: 50px;
}

.messageDetail dt {
    color: rgb(80, 69, 56);
}

@media (min-width: 768px) {
    .footy {
        max-width: 50%;
        padding: 0;
    }
  }

/* Alert */
.alert {
    margin-top: 70px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* Modal form */
.modal {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.modalButton {
    margin: auto;
}

.modalButton button {
    margin: 10px;
}

.modal-footer a {
    text-align: center;
    width: 50%;
    margin: auto;
}

/* navBar */
@media (min-width: 992px) {
    .userName {
        margin-top: 6.5px;
        margin-right: 20px;
    }
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>p.userName {
        color: #F05F40;
    }
}

@media (max-width: 992px) {
    .navbar-nav>li.nav-item>p.userName {
        color: #F05F40;
    }
}