{% load static %}
<!DOCTYPE html>
<html lang="fr">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Yohan Vienne">

    <title>You are not alone</title>

    <link rel="icon" href="{% static 'website/img/favicon.png' %}" type="image/png">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'website/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    
    <!-- Custom fonts for this template -->
    <link href="{% static 'website/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'website/css/title.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'website/css/base.css' %}" rel="stylesheet" type="text/css">
    
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    
    <!-- Custom styles for this template -->
    <link href="{% static 'website/css/creative.min.css' %}" rel="stylesheet">
    
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'website/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'website/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  
    <!-- Plugin JavaScript -->
    <script src="{% static 'website/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'website/vendor/scrollreveal/scrollreveal.min.js' %}"></script>
    {% block head %}{% endblock %}
  </head>
  
  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{% url 'home' %}">You are not alone</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <p class="userName"><strong>Bienvenue {{ userName }}</strong></p> 
            </li>
            {% endif %}
            <li class="nav-item">
              <!-- Tester si page principale pour bouton News -->
              <a class="nav-link js-scroll-trigger" href="#">News</a> 
            </li>
            {% if not user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" id="login" data-toggle="modal" data-target="#loginModal">Connexion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" id="signin" data-toggle="modal" data-target="#subscribeModal">inscription</a>
            </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" id="account" href="{% url 'account' %}">Mon compte</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" id="message" href="{% url 'message' %}">Mes messages {% if unreadMessage %}({{ unreadMessage }}){% endif %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}" id="logout">Deconnexion</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>

      <!-- Alert message -->
      <div id="alertMessage">
        {% if error %}
        <div class="alert alert-warning fixed-top text-center">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>{{ errorText}}</strong>
        </div>
        {% endif %}
        {% if loginSuccess %}
        <div class="alert alert-success fixed-top text-center">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>{{ succesText }}</strong>
        </div>
        {% endif %}
      </div>
    </nav>

    <!-- Modal connexion -->
    <div class="modal fade text-uppercase" id="loginModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Connexion</h4>
          </div>
          <div class="modal-body">
              <form class="loginForm" method="post">
                  {% csrf_token %}
                  {{ loginForm.as_p }}
                  <div class="row">
                    <div class="modalButton">
                      <button type="submit" class="btn btn-default" id="connect">Se connecter</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Quitter</button>
                    </div>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
            <a id="subscribeLink" data-toggle="modal" data-target="#subscribeModal" href="#">inscription</a>
          </div>
        </div>        
      </div>
    </div>
    
    {% if not user.is_authenticated %}
    <!-- Modal subscribe -->
    <div class="modal fade text-uppercase" id="subscribeModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Inscription</h4>
          </div>
          <div class="modal-body">
              <form class="subscribeForm" method="post">
                  {% csrf_token %}
                  {{ subscribeForm.as_p }}
                  <div class="row">
                    <div class="modalButton">
                      <button type="submit" class="btn btn-default" id="subscribebutton">Commencer</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Quitter</button>
                    </div>
                  </div>
              </form>
          </div>
        </div>        
      </div>
    </div>
    
    <!-- Modal new message to user -->
    <div class="modal fade text-uppercase" id="composeModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Nouveau message</h3>
          </div>
          <div class="modal-body">
            <form class="composeForm" method="POST">
              {% csrf_token %}
              {{ composeForm.as_p }}
              <div class="row">
                <div class="modalButton">
                  <button type="submit" class="btn btn-default" id="composeButton">Envoyer</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    
    {% block content %}{% endblock %}

    <footer id="footerpage">
        <div class="container text-uppercase">
          <div class="row">
            <div class="col-lg-6 text-center footy">
              <p>
                <a href="{% url 'legalize' %}">Mentions légales</a>
              </p>
            </div>
            <div class="col-lg-6 text-center footy">
              <p>
                <a href="mailto:papyo78@gmail.com">contact</a>
              </p>
            </div>
          </div>
        </div>
      </footer>

    <!-- Custom scripts for this template -->
    <script src="{% static 'website/js/creative.min.js' %}"></script>
    <script src="{% static 'website/js/base.js' %}"></script>
    {% block script %}{% endblock %}
  </body>

</html>
