{% extends "base.html" %}
{% load static %}
{% block content %}
<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>Vous etes</strong>
        </h1>
        <h2 class="text-uppercase text-center" id="titleslide">
          <strong id="slideword">         surfeur         flemmard         bricoleur         joueur         ornitologue    randonneur     developpeur      navigateur       cosplayer      makers       yoguiste    fan de Star Trek</strong>
        </h2>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <p class="text-faded mb-5">Trouvez des personnes qui partagent les mêmes passions que vous</p>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">En savoir plus</a>
      </div>
    </div>
  </div>
</header>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Il y a toujours quelqu'un autour de vous qui vous ressemble !</h2>
        <hr class="light my-6">
        <p class="text-faded mb-4">Vous avez un sport préféré, un hobby, un style de vie ou un projet mais vous ne connaissez personne autour de chez vous qui partage votre passion. Sur You Are Not Alone, trouvez des personnes, discuter, partagez ou réaliser ensemble une activité.</p>
        <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Rejoindre la communauté</a>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">News</h2>
        <hr class="my-6">
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-10">
        <div class="mt-5">
          <h3 class="mb-3">Title - 01/01/2018</h3>
          <p class="mb-0">Aute laborum officia ullamco anim eiusmod ut sunt laborum ad labore. Esse laborum qui exercitation culpa aliquip. Incididunt culpa dolor enim consectetur cupidatat ipsum qui anim consectetur commodo laboris. Voluptate labore Lorem nostrud ullamco quis elit eiusmod commodo veniam pariatur veniam cupidatat mollit.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-10">
        <div class="mt-5">
          <h3 class="mb-3">Title - 01/01/2018</h3>
          <p class="mb-0">Anim culpa proident nostrud elit mollit aute. Labore anim mollit ipsum laboris eu incididunt. Enim irure deserunt dolor cupidatat ipsum do commodo ad sint anim. Irure pariatur laboris voluptate voluptate qui magna velit labore duis. Quis elit minim exercitation deserunt id. Reprehenderit dolor occaecat esse consequat consectetur non labore aliquip esse esse. Mollit reprehenderit adipisicing in dolor ut consectetur aute magna ullamco officia officia cupidatat.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-10">
        <div class="mt-5">
          <h3 class="mb-3">Title - 01/01/2018</h3>
          <p class="mb-0">Aute laborum officia ullamco anim eiusmod ut sunt laborum ad labore. Esse laborum qui exercitation culpa aliquip. Incididunt culpa dolor enim consectetur cupidatat ipsum qui anim consectetur commodo laboris. Voluptate labore Lorem nostrud ullamco quis elit eiusmod commodo veniam pariatur veniam cupidatat mollit.</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}